DEBUG=True
SECRET_KEY="SECRET-KEY"

# Gmail SMTP
USE_EMAIL_VERIFICATION=True
SMTP_PASSWORD="PASSWORD"
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_HOST_USER="EMAIL"
SMTP_DEFAULT_FROM_EMAIL="URL"
FRONTEND_URL="URL"

# Postgres
POSTGRES_PASSWORD="PASSWORD"
POSTGRES_USER="USER"
POSTGRES_DB="DB"
POSTGRES_HOST="HOST"
POSTGRES_PORT=5432
PGDATA=/var/lib/posgresql/data

# Celery
CELERY_BROKER_URL="REDIS URL"